.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 25%;
}

.navbar-fixed-left-1 {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 25%;
  top: 80px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 10px;
  list-style-type: none;
}

.no-bullets {

  list-style-type: none;
  list-style: none;
  padding-left: 0px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

/*@media (min-width: 768px) {

 .navbar-fixed-left {
  position: relative;

}*/



.st-section-highlight {
    border: 2px solid #0c1a4c;
    box-shadow: 4px 4px 0 #19253d;
}

.st-section-divider {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #0c1a4c;
    padding: 20px;
    background: #fff;
    transition: all 200ms ease-in-out;
}

.btn-center {

text-align: center;

}

#clientframe
{
    height:100%;
    width:100%;
}
#clientframe-container
{
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
    height: -moz-calc(100% - 170px);
    height: -ms-calc(100% - 170px);
    height: -o-calc(100% - 170px);
    width: 100%;
}

.btn-skip-right {

  float: right;

}


.no-padding {

 padding-right: 0;
 padding-left:0;

}

.greenButton {
  background-color:#0c4c3e; 
  border-color:#0c4c3e;
}

#exTab1 {
 margin-top: 30px;
}

#exTab1 .tab-content {
  color : black;
  background-color: white;
  padding : 5px 15px;
}


#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

.underline_tab>li.active>a, .underline_tab>li.active>a:focus, .underline_tab>li.active>a:hover
{
    color: black;
    background-color: white;
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;

}

.underline_tab>li>a {

    color: grey;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    margin-left:10px; 

}

.doc-panel {
  margin-bottom: 1px; 
  margin-top: 10px
}

.blue-file {
  color:#0c1a4c;
}

.second-line {
  font-size:9px;
}

.choice-modal {
  border: 2px solid #0c1a4c;
}

.choice-modal-header {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.grey-background {
  background-color: #aaaaaa;
}

.verticle-line {
  border-left: 2px solid #ff0000; 
  height: 100px;
}

.verticle-line-right {
  border-right: 2px solid #ff0000; 
  height: 100px;
}


.invisible-line {
  border-left: 2px solid white; 
  height: 50px;
}

.custom-input {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}

.bottom-line {
  border-bottom: 2px solid black; 
  margin-bottom: 20px;
}

.custom-padding {
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom: 0px;
}

.btn-signbar {
  
  width: 120%;
  background-color: #cecccc;
  border-radius: 20px; 
  margin-bottom: 20px;

}