<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SignSecure</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- KK : Adding new fonts -->
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Black+Ops+One|Bungee|Bungee+Inline|Damion|Dhurjati|Monoton|Montserrat|Orbitron|Oswald|Pacifico|Roboto+Slab|Russo+One|Varela+Round" rel="stylesheet">

    <!-- Theme CSS -->
    <!-- KK - Changing CSS to expanded version so that edits reflect-->
    <link href="/static/css/agency-in.css" rel="stylesheet">
    <link href="/static/css/navbar-fixed-left.css" rel="stylesheet">

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', height : 300 });</script>

    <script src="/static/js/dnd.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- KK : Changing Title -->
                <a class="navbar-brand page-scroll" href="#page-top">Sign Secure</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <!-- KK : Changing tag to process -->
                        <a class="page-scroll" href="../create/">Create</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../review/">Review</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../check_status/">Check Status</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#team">Retrieve</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Account</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse-in -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class = "container-fluid">
                    <div class ="row">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

                <div class = "container-fluid">
                    <div class ="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class= "col-md-12">
                                <ul class="navbar-fixed-left nav-pills nav-stacked no-bullets">
                                    <li><a href="#">Draft</a></li>
                                    <li><a href="#">Pending Response</a></li>
                                    <li><a href="#">Received</a></li>
                                    <!-- <li><a href="#">Complete</a></li> -->
                                </ul>   

                                <ul class="navbar-fixed-left-1 nav-pills nav-stacked no-bullets">
                                    <li><a href="#" class = "btn btn-success text-center">Save for later </a></li>
                                    
                              
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>



            <div class="col-md-9">

                <div class = "container-fluid">
                    <div class= "row">
                        <div class="col-md-10">
                            <h1> Check Status </h1>
                            <h4> Whatever is the description</h4>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>




                <div class = "container-fluid">
                    
                    <div class ="row">
                        <div class="col-md-10 st-section-highlight st-section-divider">
                            <h4>Drafts</h4>
                            <br>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class= "col-md-12">
                                        <table class = "table table-hover">
                                           <thead> 
                                            <tr>
                                                <th>Document</th>
                                                <th>Creator</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="#">File 1</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-danger">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">File 2</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-danger">Delete</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class ="row">
                        <div class="col-md-10 st-section-highlight st-section-divider">
                            <h4>Pending Response</h4>
                            <br>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class= "col-md-12">
                                        <table class = "table table-hover">
                                           <thead> 
                                            <tr>
                                                <th>Document</th>
                                                <th>Sent to</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                                <th>Remind</th>
                                                <th>Recall</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="#">File 1</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-warning">Remind</a></td>
                                                <td><a href="#" class= "btn btn-danger">Recall</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">File 2</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-warning">Remind</a></td>
                                                <td><a href="#" class= "btn btn-danger">Recall</a></td>
                                            </tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class ="row">
                        <div class="col-md-10 st-section-highlight st-section-divider">
                            <h4>Recieved</h4>
                            <br>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class= "col-md-12">
                                        <table class = "table table-hover">
                                           <thead> 
                                            <tr>
                                                <th>Document</th>
                                                <th>Sent to</th>
                                                <th>Status</th>
                                                <th>Created Date</th>
                                                <th>Complete</th>
                                                <th>Refuse</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="#">File 1</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-success">Complete</a></td>
                                                <td><a href="#" class= "btn btn-danger">Refuse</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">File 2</a></td>
                                                <td>Abhilash</td>
                                                <td>For review</td>
                                                <td>Dec 28,2016</td>
                                                <td><a href="#" class= "btn btn-success">Complete</a></td>
                                                <td><a href="#" class= "btn btn-danger">Refuse</a></td>
                                            </tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                
                   <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
       
    
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <!--<script src="/static/js/agency.js"></script> -->

    <script src="/static/js/change_image_to_done.js"></script>

</body>

</html>
